{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy",
    "explicitResourceManagement"
  ]
}